@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif; 
}
.container
{
	width:1170px;
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_container
{
	display:flex;
	flex-wrap:wrap;
	padding-left:-15px;
	padding-right:-15px;
}
.flex_item1
{
	width:8.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item2
{
	width:16.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item3
{
	width:25%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item4
{
	width:33.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item5
{
	width:41.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item6
{
	width:50%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item7
{
	width:58.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item8
{
	width:66.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item9
{
	width:75%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item10
{
	width:83.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item11
{
	width:91.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item12
{
	width:100%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.align_center
{
	align-items:center;
}
/*header section starts*/
.header
{

	background-color:#fff;
	padding:9px 0;
}
/*header logo starts*/
/* .logo */
/* { */
		/* margin-left:-3em; */
/* } */
.logo a
{
	text-decoration: none;
	color:#111111;
	font-size: 26px;
	font-weight: 600;
	
}
.logo span
{
	color:#e03a3c;
}

/*header logo ends*/
/*navbar starts*/

.header ul
{
	display:flex;
	list-style:none;
	justify-content:space-between;
}
.header ul a
{
	text-decoration:none;
	color:#111111;
	padding-left:35px;
	font-family: 'Raleway', sans-serif;
	font-size:15px;
	font-weight:600;
	display:flex;
	margin-left:-2em;
}

.header .drop:hover .dropd,
.header .drop:hover i{
	color:#e03a3c;
}

.header a:hover{
	color:#e03a3c;
}
.nav_btn{
	text-align:end;
}

.nav_btn .get
{
	color: #fff;
    background-color: #e03a3c;
    padding: 10px 23px;
    text-decoration: none;
	border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
	transition:all 0.3s ease;
	display:inline-block;
} 
.nav_btn .get:hover
{
	background-color:#111111;
}
/*navbar ends*/
/*dropdown starts*/
.drop
{
	position:relative;
	z-index:1;
}
.drop i
{
	color: #0000009c;
	font-size:20px;
	vertical-align:middle;
}
ul.drop_1
{

	display:block;
	height:200px;
	width:180px;
	background-color:#fff;
	position:absolute;
	top:27px;
	left:32px;
	line-height:2.5;
	box-shadow:0px 0px 5px #0000001c;
	visibility:hidden;
	opacity:0;
	transition:all 0.3s ease;
	transform:translateY(30px);
}
.drop:hover ul.drop_1
{
	visibility:visible;
	opacity:1;
	transform:translateY(0px);
}
ul.deep_1
{
	display:block;
	height:200px;
	width:200px;
	background-color:#fff;
	position:absolute;
	top:40px;
	left:-200px;
	line-height:2.5;
	box-shadow:0px 0px 5px #0000001c;
	visibility:hidden;
	opacity:0;
	transition:all 0.3s ease;
	transform:translateX(30px);
}
.deep:hover .deep_1
{
	visibility:visible;
	opacity:1;
	transform:translateX(0px);
}
/*dropdown ends*/
/* header section ends*/
/*banner section starts*/
.banner
{

    background-image: url(../image/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.banner::before{
	content:"";
	height:100vh;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	position :absolute;
	top:0;
	right:0;
}

.ban_cnt
{

	margin-top:-55px;
	margin-left:-24px;
	filter: brightness(1);
    
}

.ban_cnt h1
{
	color:#fff;
	font-size:48px;
	font-weight:700;
	line-height: 59px;
}
.ban_cnt h2
{
	color:#fff;
	font-size:24px;
	font-weight:400;
	
}
.ban_cnt a
{
	color: #fff;
    background-color: #e03a3c;
    padding: 10px 23px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
	transition:all 0.3s ease;
	display:inline-block;
}
.ban_cnt a:hover
{
	background-color:transparent;
	border:1px solid #fff;
}
.ban_cnt .get
{
	margin-left:0px;
	margin-top:38px;
}
/*banner section ends*/
/*client section starts*/
.client .flex_cotainer
{
	display: flex;
    margin: 0 auto;
    padding: 60px 0px;
	margin-top:40px;
}
.client
{
	background-color:#fff;
	margin-top:75px;
	text-align:center;
}
.client1 img
{
	width:80%;
	transition:all 0.3s ease;
	filter:grayscale(100);
	opacity:0.3;
}
.client1 img:hover
{
	filter:grayscale(0);
	opacity:1;
}
/*client section ends*/
/*about section starts*/
.about
{
	background-color:#111111;
	padding:55px 0px;
	margin-top:8em;
	transform:skewY(-183deg);
	position:relative;
}
.about h3
{
	font-family: 'Raleway', sans-serif;
}
.about p
{
	font-family: 'Open Sans', sans-serif;
}
.about .right
{
	color:#fff;
	background-color:#111111;
	transform:skewY(183deg);
}
.right h3
{
	font-size:34px;
	font-weight:700;
}
.right p
{
	color:#fff;
	font-size:16px;

}
.right a
{
	text-decoration: none;
    color: #fff;
    border: 2px solid #e03a3c;
    padding: 8px 32px;
    border-radius: 30px;
	display:inline-block;
}
.right a:hover
{
	background-color:#e03a3c;
}
.about .abt
{
	margin-top:30px;
}
.about .bxs-chevron-right
{
	color:#fff;
	font-size:15px;

}
.about .lefts
{
	transform:skewY(183deg);
}
.about .left_flex_container
{
	display:flex;
	flex-wrap:wrap;
}
.about .left1
{
	color:#fff;
	background-color:#111111;
	margin-top:35px;
	padding:0px 11px;
}
.left1 i
{
	color: #e03a3c;
    font-size: 40px;
	margin-top:-24px;
}
.left1 h3
{
	font-size:20px;
	font-weight:700;
}
.left1 p
{
	font-size:15px;
	color:#8e8989;
}

/*about section ends*/
/*feature section starts*/
.features
{
	margin-top:65px;
	background-color:#fff;
	padding:30px 0px;
}

.features .feature 
{
    background-color: #fff;
    padding: 25px 0px;
    text-align: center;
    box-shadow: 0px 0px 15px lightgray;
	position: relative;
    border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
}
.features i
{
    font-size: 25px;
    color: #e03a3c;
    position: absolute;
    padding: 12px;
    top: -25px;
    left: calc(50% - 25px);
    height: 46px;
    width: 46px;
    border-radius: 50%;
    box-shadow: 0px 2px 18px lightgray;
    display: flex;
    justify-items: center;
    align-items: center;
	background-color:#fff;
}

/*feature section ends*/
/*others section starts*/
.others
{
	
	padding:20px 0px;
}
.other
{
	border: 1px solid lightgray;
    display: flex;
    padding: 23px 15px;
	cursor:pointer;
	justify-content:center;
}
.other:hover
{
	color:#e03a3c;
}
.other i
{
	font-size:48px;
}
.other h3
{
	font-size:18px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
}

/*others div ends*/
/*others-frame starts*/
.others .other-frame
{
	
	margin-top:25px;
}
.other-frame p
{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:25px;
	padding-top:10px;
}

.frame1 h3
{
	font-family: 'Raleway', sans-serif;
	font-size:26px;
}
.frame1 ul
{
	font-family: 'Open Sans', sans-serif;
	list-style:none;
	font-size:16px;
	padding:10px;
	line-height:28px;
}
.frame1 i
{
	color:#e03a3c;
} 
.frame2 img
{
	width:100%;
}
/*others-frame ends*/
/*services secton starts*/
.services
{
	background-color:#111111;
	padding:28px 0px;
	margin-top:104px;
	transform:skewY(-3deg);
	position: relative;
}
 .heading h3
{

    color: #000;
    font-size: 32px;
    text-align: center;
    padding-bottom: 24px;  
    padding-top: 25px;
	position:relative;
	text-transform:uppercase;
}
.heading h3::after
{
	content: "";
    height: 3px;
    width: 58px;
    background-color: #e03a3c;
    position: absolute;
    left: 47%;
    bottom: 13px;
}
.services .heading p
{
	color:#fff;
	text-align:center;
}
.service
{
    background-color: #171616;
    margin-top: 30px;
    display: flex;
    gap: 30px;
    padding: 10px;
	transform:skew(3deg);
}
.service i
{
	font-size: 40px;
    color: #e03a3c;
}
.service h3
{
	font-family: 'Raleway', sans-serif;
}
.service h3 a
{
	text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.service h3 a:hover
{
	text-decoration:underline;
}
.service p
{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.services .main
{
	transform:skewY(3deg);
}

/* services section ends*/
/*portfolio section starts*/
.portfolio
{
	padding:19px 0px;
	margin-top: 80px;
	position:relative;
}
h3
{
	font-family: 'Raleway', sans-serif;
}
.portfolio p
{
	font-family: 'Open Sans', sans-serif;
}

.portfolio .heading p
{
	text-align:center;
	padding-top:20px;
}
/*heading section ends*/
/*portfolio A section starts*/
.portfolio .anchor
{
	text-align:center;
	padding-top:20px;
	padding-bottom:5px;
}
.portfolio .anchor a
{
	text-decoration: none;
    padding: 3px 10px;
    transition: all 0.3s ease;
    font-size: 13px;
	color:black;
} 
.portfolio .anchor a:hover
{
    background-color: #e03a3c;
    border-radius: 4px;
    color: #fff;
}

/*Portfolio A section ends*/
/* pic section starts*/
.pic
{
	overflow:hidden;
	position:relative;
	margin-top:2em;
}
.pic:hover img 
{
	transform:scale(1.1);
}
.pic:hover .back
{
	visibility:visible;
	opacity:1;
}
.pic .back
{
	height: 100%;
    width: 100%;
    background-color: #0000008f;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
	opacity:0;
	padding: 150px 20px;
}
.back h3
{
	color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.back p
{
	font-size: 14px;
    font-style: italic;
    color: #f8eeee;
}
.back i
{
	font-size: 20px;
    color: #f8eeee;
}

.pic img
{

	width:100%;
	transition:all 0.3s ease;
}


/*pic section ends*/
/*portfolio sction ends*/

/*testimonials section starts*/
/*testimonials head starts*/
.testimonials
{

	padding:56px 0px;
	position:relative;
}
.testimonials p
{
	font-family: 'Open Sans', sans-serif;
    padding-top: 28px;
    font-size: 16px;
    text-align: center;
}
/*testimonials head ends*/
/*testimonials pic starts*/
.picture
 { 
	 box-sizing:content-box;
	 padding:38px 35px;
	 margin:30px 15px;
	 min-height:220px;
	 box-shadow:0px 2px 12px lightgray;
	 background-color:#fff;
	 border-radius:10px;
 
}
.picture img
{
	width: 90px;
    border-radius: 7px;
    border: 5px solid #fff;
	float:left;
}
.picture h3
{
	font-size: 18px;
    font-weight: bold;
}
.picture h4
{
	font-size: 14px;
    color: #999;
}
.picture p
{
	font-size:16px;
	font-style:italic;
	padding-top:45px;
	text-align:inherit;
	
}
.picture i
{
	color: #fceaea;
    font-size: 16px;
}
/*testimonials section ends*/
/*pricing section starts*/
.pricing
{
	background-color:black;
	padding:90px 0px;
	position:relative;
	transform:skewY(-3deg);
	margin-top:80px;
}
.main_container
{
	transform:skewY(3deg);`
}
.pricing .heading p
{
	color: #fff;
    font-size: 16px;
    padding-top: 30px;
    text-align: center;
}
.pricing h3
{
	font-family: 'Raleway', sans-serif;
}
.pricing p
{
	font-family: 'Open Sans', sans-serif;	
}
/*pricing head ends*/
/*pricing pic starts*/
.price1
{
	margin-top:30px;
	padding:20px;
	background-color:#111111;
	text-align:center;
	border-radius:8px;
	overflow:hidden;
	line-height:2;
}
.price1 h3
{
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
}
.price1 h4
{
	font-size:33px;
	color:#fff;
	font-weight:500;
}
.price1 h4 sup
{
	font-size:20px;
	color:#fff;
}
.price1 h4 span
{
	font-size:16px;
	font-weight:300;
}
.price1 ul
{
	color:#fff;
	font-size:14px;
	text-align:center;
	list-style:none;
	line-height:45px;
}
.price1 .line
{
	text-decoration:line-through;
	color:lightgray;
}
.price1 .btn
{
	text-align:center;
	padding:30px;
}
.price1 .btn a
{
	text-decoration:none;
	font-size:14px;
	font-weight:600;
	padding:11px 36px;
	color:#fff;
	font-family:'Raleway', sans-serif;
	border:1px solid lightgray;
	border-radius:4px;
	transition:all 0.3s ease;
}
.price1 .btn a:hover
{
	border:2px solid lightgray;
}
.price2
{
	margin-top:30px;
	padding:20px;
	background-color:#e03a3c;
	text-align:center;
	border-radius:8px;
	overflow:hidden;
	line-height:2;
}
.price2 h3
{
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
}
.price2 h4
{
	font-size:33px;
	color:#fff;
	font-weight:500;
}
.price2 h4 sup
{
	font-size:20px;
	color:#fff;
}
.price2 h4 span
{
	font-size:16px;
	font-weight:300;
}
.price2 ul
{
	color:#fff;
	font-size:14px;
	text-align:center;
	list-style:none;
	line-height:45px;
}
.price2 .line
{
	text-decoration:line-through;
	color:lightgray;
}
.price2 .btn
{
	text-align:center;
	padding:24px;
}
.price2 .btn a
{
	text-decoration:none;
	font-size:14px;
	font-weight:600;
	padding:11px 36px;
	color:#fff;
	font-family:'Raleway', sans-serif;
	border:1px solid #fff;
	border-radius:4px;
	transition:all 0.3s ease;
}
.price2 .btn a:hover
{
	border:2px solid #fff;
}
.price3
{
	margin-top:30px;
	padding:20px;
	background-color:#111111;
	text-align:center;
	border-radius:8px;
	overflow:hidden;
	line-height:2;
}
.price3 h3
{
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
}
.price3 h4
{
	font-size:33px;
	color:#fff;
	font-weight:500;
}
.price3 h4 sup
{
	font-size:20px;
	color:#fff;
}
.price3 h4 span
{
	font-size:16px;
	font-weight:300;
}
.price3 ul
{
	color:#fff;
	font-size:14px;
	text-align:center;
	list-style:none;
	line-height:45px;
}
.price3 .btn
{
	text-align:center;
	padding:30px;
}
.price3 .btn a
{
	text-decoration:none;
	font-size:14px;
	font-weight:600;
	padding:11px 36px;
	color:#fff;
	font-family:'Raleway', sans-serif;
	border:1px solid #fff;
	border-radius:4px;
	transition:all 0.3s ease;
}
.price3 .btn a:hover
{
	border:2px solid #fff;
}
/*pricing pic ends*/
/*pricing section ends*/

/*question section starts*/
/*question head starts*/
.questions
{
    margin: 90px 0px 0px 0px;
    position: relative;
}
.question
{
	margin-top: 40px;
    border-bottom: 1px solid lightgray;
	padding-bottom:10px;
    display: flex;
    justify-content: space-between;
	
}
/*question headinng ends*/
/*questionstarts*/

.questions p
{
	color:#111111;
	font-size:18px;
	cursor:pointer;
}
.question:hover i , .question:hover p
{
	color:#e03a3c;
}
.question i
{
	font-size:23px;
}
/*question secttion ends*/

/*team section starts*/
/*team head starts*/
.team
{
	background-color:#111111;
	padding:24px 0px;
	margin-top:70px;
	position:relative;
}

.team .heading p
{
	color: #fff;
    font-size: 16px;
    padding: 35px;
    text-align: center;
}
.team h3
{
	font-family: 'Raleway', sans-serif;
}
.team p
{
	font-family: 'Open Sans', sans-serif;	
}
/*team head ends*/
/*team pic starts*/
.team1 img
{
	width:100%;
}

.link
 {
    text-align: center;
    position: relative;
    top: -3em;
    right: 0px;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(-20px);
}

.link i
{
	font-size: 19px;
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    box-shadow: 0px 1px 3px #111111;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #e03a3c;
	transition:all 0.3s ease;
}
.link i:hover
{
	background-color:#111111;
	
}

.team1:hover .link
{
	visibility:visible;
	opacity:1;
	transform:translateY(0);
}
.team1 .info
{
    background-color: #fff;
    margin-top: -43px;
    padding: 16px 16px;
}
/*team section ends*/

/*contact section starts*/
/*contact heading section starts */
.contact_detail 
{
	position:relative;
	margin-top:4em;
}
.contact_detail .heading 
{
    background-color:#fff; 
	padding:20px 0px;

}

.contact_detail p
{
	font-family: 'Open Sans', sans-serif;
    padding-top: 28px;
    font-size: 16px;
    text-align: center;
}
/*contact heading section ends */
/*contact detail section starts */
.address
{
    background-color: #fff;
    box-shadow: 0px 0px 9px lightgray;
    padding: 40px 40px;
    margin-top: 30px;
}
.address h3
{
    font-size: 20px;
    color: #777777;
    padding-top: 13px;
	text-align:center;
}
.address p
{
	font-size: 14px;
    color: #3e6f30;
    margin-top: -13px;
}
.address i
{
    justify-content: center;
    font-size: 21px;
    border: 1px dotted #e03a3c;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: red;
    margin: 0 auto;
}
.login
{
    box-shadow: 3px 0px 16px lightgray;
    padding: 25px;
    margin-top: 30px;
    text-align:center;
}
.login .name
{
	display:flex;
	gap:10px;
}
.login form
{
	line-height:68px;
}
.login form input
{
	border: 1px solid lightgray;
    padding: 10px 10px;
    margin-top: 22px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    font-size: 14px;
}
textarea
{
	height: 170px;
    width: 100%;
    border: 1px solid lightgray;
	padding:10px;
}
.login a
{
	text-decoration:none;
	padding:10px 15px;
	color:#fff;
	background-color:#e03a3c;
	font-size:16px;
	font-family: "Open Sans", sans-serif;
	
}
/* contact section starts*/

/*ends section strats*/
.ends
{
    background-color: #111111;
    padding: 54px 0px;
	position:relative;
	margin-top:80px;
}
.end1
{
	line-height:2;
}
.end1 h3
{
	color:#fff;
	font-family:'Poppins';
	font-size:26px;
}
.end1 span
{
	color:#e03a3c;
}
.end1 p
{
	font-family:'Raleway';
	font-size:16px;
	color:#fff;
}
.end2 h3
{
	font-size:16px;
	font-family:'Raleway';
	color:#fff;
	position:relative;
}
.end2 h3::before
{
	content:"";
	height:3px;
	width:19px;
	border-radius:5px;
	background-color:#e03a3c;
	position:absolute;
	bottom:0;
	left:0;
}
.end2
{
	line-height:2;
}
.end2 ul
{
	font-size:14px;
	font-family:"Open Sans", sans-serif;
	list-style:none;
	
}
.end2 ul a
{
	text-decoration:none;
	color:#a4a1a1;
	transition:all 0.3s ease;
}
.end2 ul a:hover
{
	color:#fff;
}
.end2 i
{
	color:#fff;
	font-size:15px;
}



.end2
{
	line-height:2;
}
.end2 p
{
	font-size:14px;
	font-family:"Open Sans", sans-serif;
	color:#fff;
}
.end2 form
{
	display:flex;
	margin-top: 30px;
    background: #fff;
    align-items:center;
    position: relative;
    border-radius: 4px;
}
.out1 
{
    width: 100%;
    border: none;
	    border-radius: 4px;
}
.out2
{
	border: none;
    font-size: 16px;
    padding: 10px 15px;
    background: #e03a3c;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}